button{
    margin: 64px;
    width: 200px;
    height: 50px;
    background-color: coral;
    color: white;
    
    line-height: 50px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    cursor: pointer;
    border: none;
}
button:hover{
    color: darkcyan;
}
button:hover .img-button{
    fill:green;
}
.img-button{
    width: 32px;
    height: 32px;
    fill: white;
    vertical-align: middle;
}